main {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;

    &.set {
        .card:not(.locked) {
            .card-inner {
                opacity: .3;
                transition: top .5s ease-in-out, left .5s ease-in-out, transform .3s ease, opacity .3s ease;
            }
        }
    }

    &.waiting {
        .card {
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }

            &.selected {
                transform: scale(1.1);
    
                .card-inner {
                    transform: none !important;
                    box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 0 0 4px hsl(0, 30%, 95%), 0 0 0 6px var(--color-primary);
                }
            }
        }
    }
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 176px;
    width: 128px;
    transition: top .5s ease-in-out, left .5s ease-in-out, transform .2s ease;

    .card-inner {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0,0,0,.1);
        transition: transform .3s ease, opacity .3s ease, box-shadow .1s ease, margin-top .3s ease;
        backface-visibility: hidden;
    }
    
    &.new {
        .card-inner {
            margin-top: 40px;
            opacity: 0;
            transform: scale(1.05) !important;
        }
    }

    &.locked {
        
        &:not(.set) {
            transform: scale(0.8) !important;

            .card-inner {
                transform: none;
            }
        }

        &.set {
            .card-inner {
                transform: scale(1.1) !important;
            }
        }
    }

    svg {
        display: inline-block;
        width: 80px;
        fill: transparent;
        stroke-width: .2;
    }

    &.c0 {
        color: red;

        &.f0 svg {
            fill: red;
        }

        &.f1 svg {
            stroke: red;
        }

        &.f2 svg {
            stroke: red;
            fill: url(#stripes-red);
        }
    }

    &.c1 {
        color: purple;

        &.f0 svg {
            fill: purple;
        }

        &.f1 svg {
            stroke: purple;
        }

        &.f2 svg {
            stroke: purple;
            fill: url(#stripes-purple);
        }
    }

    &.c2 {
        color: green;

        &.f0 svg {
            fill: green;
        }

        &.f1 svg {
            stroke: green;
        }

        &.f2 svg {
            stroke: green;
            fill: url(#stripes-green);
        }
    }

    &.set {
        .card-inner {
            box-shadow: 0 10px 10px rgba(0,0,0,.05);
        }
    }
}