@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');

:root {
    --color-primary: hsl(300, 70%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: hsl(0, 30%, 95%);
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    padding: 0 16px;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--color-primary);
    user-select: none;

    span {
        display: inline-flex;
        height: 2em;
        width: 1.5em;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--color-primary);
        border-radius: 6px;
        margin: 0 4px;
        padding-left: .3em;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
    }
}

aside {
    position: absolute;
    top: 80px;
    left: 0;
    width: 320px;
    height: calc(100% - 64px);
    background-color: white;
    box-shadow: 4px 0 8px rgba(0,0,0,.05);
    display: flex;
    flex-flow: column wrap;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 1.5s .5s cubic-bezier(.85, 0, .15, 1);

    &.visible {
        transform: none;
    }

    .bot,
    .user {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &.bot {
            padding-bottom: 64px;
        }

        &.user {
            padding-top: 64px;
        }

        &:nth-child(1) {
            border-bottom: 2px solid #eeeeee;
        }

        h2 {
            font-size: 1.25rem;
            margin-bottom: .5em;
            text-align: center;
        }

        p {
            color: #999999;
            text-align: center;
        }

        .sets-wrapper {
            height: 174px;
            width: 132px;
            margin: 0 auto;
            background-color: #f6f6f6;
            border-radius: 8px;
            margin-top: 32px;

            .card {
                &:nth-last-child(n+6) {
                    .card-inner {
                        box-shadow: none;
                    }
                }
            }
        }

        .difficulty {
            margin-top: 2em;
            text-align: center;

            p {
                margin-bottom: .5em;
            }

            ul {
                list-style: none;
                display: flex;

                li {
                    display: block;
                    margin: 0 8px;
                    color: #aaaaaa;
                    cursor: pointer;
                    font-weight: bold;
                    letter-spacing: .02em;

                    &.selected {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    .buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -32px;

        button {
            position: relative;
            display: block;
            margin: 0 auto;
            border: none;
            background: none;
            font-size: 1rem;

            &:not(:disabled) {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }

            &.main {
                background: linear-gradient(hsl(300, 50%, 45%), var(--color-primary));
                color: white;
                border-radius: 8px;
                padding: 16px;
                width: 260px;
                height: 68px;
                font-size: 1.25rem;
                letter-spacing: .05em;
                font-weight: 600;
                box-shadow: 0 4px 8px rgba(0,0,0,.2);
                transition: all .1s ease;
                text-shadow: 0 2px 4px rgba(0,0,0,.2);

                span {
                    display: block;
                    font-size: .725rem;
                    font-weight: normal;
                    letter-spacing: 0;
                    opacity: .5;
                }

                &:active,
                &.active {
                    transform: translateY(2px);
                    box-shadow: 0 2px 8px rgba(0,0,0,.2);
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255,255,255,.15);
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: opacity .3s ease, transform 0s .5s linear;
                    opacity: 0;
                }

                &.waiting {
                    &::before {
                        opacity: 1;
                        animation: countdown 10s linear;
                    }
                }

                &:disabled {
                    // background: linear-gradient(hsl(300, 0%, 100%), hsl(300, 0%, 90%));
                    // background: white;
                    // color: hsl(300, 70%, 40%);
                    text-shadow: none;
                    overflow: hidden;

                    span {
                        opacity: 1;
                    }

                    &:not(.waiting) {
                        &::before {
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }
                }
            }

            &.secondary {
                color: hsl(300, 0%, 60%);
                font-weight: bold;
                transition: color .1s ease;
                color: hsl(300, 70%, 40%);

                &:disabled {
                    color: hsl(300, 0%, 85%);
                }
            }
        }
    }
}

main {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        position: relative;
        background-color: white;
        border-radius: 8px;
        padding: 40px 32px 240px 32px;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
        width: 940px;
        margin-bottom: 120px;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 6px;
        //     background: linear-gradient(hsl(300, 50%, 45%), var(--color-primary));
        // }

        h1 {
            text-align: center;
            margin-bottom: 1em;
        }

        p {
            line-height: 1.6em;
            color: #666666;
            text-align: center;
            max-width: 620px;
            margin: 0 auto 2em auto;
        }

        button {
            display: block;
            margin: 0 auto;
            border: none;
            font-size: 1rem;
            background: none;
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: 1em;
            }

            &:focus {
                outline: none;
            }

            &.primary {
                color: white;
                font-weight: bold;
                letter-spacing: .05rem;
                background: linear-gradient(hsl(300, 50%, 45%), var(--color-primary));
                padding: 16px 40px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0,0,0,.2);
                text-shadow: 0 2px 2px rgba(0,0,0,.2);
                transition: transform .2s ease;
    
                &:hover:not(:active) {
                    transform: translateY(-2px);
                }
            }

            &.secondary {
                color: var(--color-primary);
                font-weight: bold;
            }
        }

        .modes {
            position: absolute;
            width: calc(100% - 64px);
            display: flex;
            margin-top: 2em;
            justify-content: center;

            div {
                flex: 1;
                position: relative;
                height: 240px;
                border-radius: 8px;
                text-align: center;
                padding: 32px 24px;
                box-shadow: 0 0 8px rgba(0,0,0,.1);
                background-color: white;
                overflow: hidden;
                transition: transform .2s ease;
                
                &:not(.soon) {
                    cursor: pointer;
                    
                    &:hover {
                        transform: translateY(-4px);

                        button {
                            filter: hue-rotate(10deg);
                        }
                    }
                }

                &.soon {
                    &::before {
                        content: "Soon";
                        position: absolute;
                        top: 8px;
                        right: -68px;
                        padding: 4px 80px;
                        background: linear-gradient(hsl(300, 50%, 45%), var(--color-primary));
                        transform: rotate(30deg);
                        color: white;
                        font-size: .75rem;
                        font-weight: bold;
                        text-shadow: 0 2px 2px rgba(0,0,0,.1);
                        text-transform: uppercase;
                        letter-spacing: .1em;
                        box-shadow: 0 4px 8px rgba(0,0,0,.05);
                    }
                }

                &.main {
                    margin-top: -24px;
                    height: auto;
                    padding-bottom: 24px;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 6px;
                        background: linear-gradient(hsl(300, 50%, 45%), var(--color-primary));
                    }
                }

                &:not(:last-child) {
                    margin-right: 32px;
                }

                i {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 64px;
                    height: 64px;
                    font-size: 1.5em;
                    background-color: hsl(300, 40%, 90%);
                    color: hsl(300, 80%, 35%);
                    border-radius: 50%;
                    margin-bottom: 1rem;

                    &.fa-bolt,
                    &.fa-mug-hot {
                        &::before {
                            margin-left: 4px;
                        }
                    }
                }

                p {
                    margin-bottom: 1em;
                }

                h2 {
                    font-size: 1rem;
                    font-weight: bold;
                    color: var(--color-primary);
                    margin-bottom: 1em;
                }

                button {
                    transition: transform .2s ease, filter .2s ease;
                }
            }
        }
    }

    &.set {
        .card:not(.locked) {
            .card-inner {
                opacity: .3;
                transition: top .5s ease-in-out, left .5s ease-in-out, transform .3s ease, opacity .3s ease;
            }
        }
    }

    &.waiting {
        .card {
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }

            &.selected {
                transform: scale(1.1);
    
                .card-inner {
                    transform: none !important;
                    box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 0 0 4px hsl(0, 30%, 95%), 0 0 0 6px var(--color-primary);
                }
            }
        }
    }
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 176px;
    width: 128px;
    transition: top .5s ease-in-out, left .5s ease-in-out, transform .2s ease;

    .card-inner {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0,0,0,.1);
        transition: transform .3s ease, opacity .3s ease, box-shadow .1s ease, margin-top .3s ease;
        backface-visibility: hidden;
        // transform-origin: bottom;
    }
    
    &.new {
        .card-inner {
            margin-top: 40px;
            opacity: 0;
            transform: scale(1.05) !important;
        }
    }

    &.locked {
        
        &:not(.set) {
            transform: scale(0.8) !important;

            .card-inner {
                transform: none;
            }
        }

        &.set {
            .card-inner {
                transform: scale(1.1) !important;
            }
        }
    }

    svg {
        display: inline-block;
        width: 80px;
        fill: transparent;
        stroke-width: .2;
    }

    &.c0 {
        color: red;

        &.f0 svg {
            fill: red;
        }

        &.f1 svg {
            stroke: red;
        }

        &.f2 svg {
            stroke: red;
            fill: url(#stripes-red);
        }
    }

    &.c1 {
        color: purple;

        &.f0 svg {
            fill: purple;
        }

        &.f1 svg {
            stroke: purple;
        }

        &.f2 svg {
            stroke: purple;
            fill: url(#stripes-purple);
        }
    }

    &.c2 {
        color: green;

        &.f0 svg {
            fill: green;
        }

        &.f1 svg {
            stroke: green;
        }

        &.f2 svg {
            stroke: green;
            fill: url(#stripes-green);
        }
    }

    &.set {
        // opacity: 1;
        
        .card-inner {
            box-shadow: 0 10px 10px rgba(0,0,0,.05);
        }
    }
}

.controls {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 1;

    .sound {
        cursor: pointer;
        padding: 8px;

        &:hover {
            i {
                color: #666666;
            }
        }

        i {
            color: #aaaaaa;
            
            &.hidden {
                display: none;
            }

            &.fa-volume-off {
                margin-right: 10px;
            }
        }
    }
}

.helpers {
    .shapes {
        display: none;
    }
}

@keyframes countdown {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes levitate {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: translateY(-32px) rotate(40deg);
    }
}

@media screen and (max-height: 900px) {
    aside {
        .bot,
        .user {
            .sets-wrapper {
                height: 140px;
                width: 105px;
            }
        }
    }

    main {
        .card {
            &.locked {
                // transform: scale(0.65) !important;
            }
        }
    }
}

@media screen and (max-height: 800px) {
    aside {
        .bot,
        .user {
            .sets-wrapper {
                height: 86px;
                width: 66px;
            }
        }
    }

    main {
        .card {
            &.locked {
                // transform: scale(0.4) !important;
            }
        }
    }
}

@media screen and (max-height: 640px) {
    aside {
        .bot,
        .user {
            .sets-wrapper {
                display: none;
            }
        }
    }
}