@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: hsl(0, 30%, 95%);
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: white;
    box-shadow: 4px 0 8px rgba(0,0,0,.05);
    display: flex;
    flex-flow: column wrap;
    z-index: 1;

    .bot,
    .user {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &.bot {
            padding-bottom: 64px;
        }

        &.user {
            padding-top: 64px;
        }

        &:nth-child(1) {
            border-bottom: 2px solid #eeeeee;
        }

        h2 {
            font-size: 1.25rem;
            margin-bottom: .5em;
            text-align: center;
        }

        p {
            color: #999999;
            text-align: center;
        }

        .sets-wrapper {
            height: 174px;
            width: 132px;
            margin: 0 auto;
            background-color: #f6f6f6;
            border-radius: 8px;
            margin-top: 32px;

            .card {
                &:nth-last-child(n+6) {
                    .card-inner {
                        box-shadow: none;
                    }
                }
            }
        }

        .difficulty {
            margin-top: 2em;
            text-align: center;

            p {
                margin-bottom: .5em;
            }

            ul {
                list-style: none;
                display: flex;

                li {
                    display: block;
                    margin: 0 8px;
                    color: #aaaaaa;
                    cursor: pointer;
                    font-weight: bold;
                    letter-spacing: .02em;

                    &.selected {
                        color: hsl(300, 70%, 35%);
                    }
                }
            }
        }
    }

    .buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -32px;

        button {
            position: relative;
            display: block;
            margin: 0 auto;
            border: none;
            background: none;
            font-size: 1rem;

            &:not(:disabled) {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }

            &.main {
                background: linear-gradient(hsl(300, 50%, 45%), hsl(300, 70%, 35%));
                color: white;
                border-radius: 8px;
                padding: 16px;
                width: 260px;
                height: 68px;
                font-size: 1.25rem;
                letter-spacing: .05em;
                font-weight: 600;
                box-shadow: 0 4px 8px rgba(0,0,0,.2);
                transition: all .1s ease;
                text-shadow: 0 2px 4px rgba(0,0,0,.2);

                span {
                    display: block;
                    font-size: .725rem;
                    font-weight: normal;
                    letter-spacing: 0;
                    opacity: .5;
                }

                &:active,
                &.active {
                    transform: translateY(2px);
                    box-shadow: 0 2px 8px rgba(0,0,0,.2);
                }

                &:disabled {
                    // background: linear-gradient(hsl(300, 0%, 100%), hsl(300, 0%, 90%));
                    // background: white;
                    // color: hsl(300, 70%, 40%);
                    text-shadow: none;
                    overflow: hidden;

                    span {
                        opacity: 1;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(255,255,255,.1);
                        animation: countdown 10s linear forwards;
                        transform: scaleX(0);
                        transform-origin: right;
                    }
                }
            }

            &.secondary {
                color: hsl(300, 0%, 60%);
                font-weight: bold;
                transition: color .1s ease;
                color: hsl(300, 70%, 40%);

                &:disabled {
                    color: hsl(300, 0%, 85%);
                }
            }
        }
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.set {
        .card:not(.locked) {
            .card-inner {
                opacity: .3;
                transition: top .5s ease-in-out, left .5s ease-in-out, transform .3s ease, opacity .3s ease;
            }
        }
    }

    &.waiting {
        .card {
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }

            &.selected {
                transform: scale(1.1);
    
                .card-inner {
                    transform: none !important;
                    box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 0 0 4px hsl(0, 30%, 95%), 0 0 0 6px hsl(300, 70%, 35%);
                }
            }
        }
    }
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 176px;
    width: 128px;
    transition: top .5s ease-in-out, left .5s ease-in-out, transform .2s ease;

    .card-inner {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0,0,0,.1);
        transition: transform .3s ease, opacity .3s 1s ease, box-shadow .1s ease, margin-top .3s 1s ease;
        backface-visibility: hidden;
    }
    
    &.new {
        .card-inner {
            margin-top: 16px;
            opacity: 0;
        }
    }

    &.locked {
        
        &:not(.set) {
            transform: scale(0.8) !important;

            .card-inner {
                transform: none;
            }
        }

        &.set {
            .card-inner {
                transform: scale(1.1) !important;
            }
        }
    }

    svg {
        display: inline-block;
        width: 80px;
        fill: transparent;
        stroke-width: .2;
    }

    &.c0 {
        color: red;

        &.f0 svg {
            fill: red;
        }

        &.f1 svg {
            stroke: red;
        }

        &.f2 svg {
            stroke: red;
            fill: url(#stripes-red);
        }
    }

    &.c1 {
        color: purple;

        &.f0 svg {
            fill: purple;
        }

        &.f1 svg {
            stroke: purple;
        }

        &.f2 svg {
            stroke: purple;
            fill: url(#stripes-purple);
        }
    }

    &.c2 {
        color: green;

        &.f0 svg {
            fill: green;
        }

        &.f1 svg {
            stroke: green;
        }

        &.f2 svg {
            stroke: green;
            fill: url(#stripes-green);
        }
    }

    &.set {
        // opacity: 1;
        
        .card-inner {
            box-shadow: 0 10px 10px rgba(0,0,0,.05);
        }
    }
}

.controls {
    position: absolute;
    left: 16px;
    bottom: 16px;

    .sound {
        cursor: pointer;
        padding: 8px;

        &:hover {
            i {
                color: #666666;
            }
        }

        i {
            color: #aaaaaa;
            
            &.hidden {
                display: none;
            }

            &.fa-volume-off {
                margin-right: 10px;
            }
        }
    }
}

.helpers {
    .shapes {
        display: none;
    }
}

@keyframes countdown {
    to {
        transform: scaleX(1);
    }
}

@media screen and (max-height: 900px) {
    aside {
        .bot,
        .user {
            .sets-wrapper {
                height: 140px;
                width: 105px;
            }
        }
    }

    main {
        .card {
            &.locked {
                // transform: scale(0.65) !important;
            }
        }
    }
}

@media screen and (max-height: 800px) {
    aside {
        .bot,
        .user {
            .sets-wrapper {
                height: 86px;
                width: 66px;
            }
        }
    }

    main {
        .card {
            &.locked {
                // transform: scale(0.4) !important;
            }
        }
    }
}

@media screen and (max-height: 640px) {
    aside {
        .bot,
        .user {
            .sets-wrapper {
                display: none;
            }
        }
    }
}