@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');

@import '_variables.scss';
@import '_aside.scss';
@import '_board.scss';
@import '_main.scss';
@import '_palettes.scss';
@import '_title.scss';
@import '_tutorial.scss';
@import '_responsive.scss';